* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000000;
    color: #507ae0;
    font-family: vcr-osd-mono;
    font-size: 22px;
}
@font-face {
  font-family: vcr-osd-mono;
  src: url(vcr-osd-mono.ttf);
}
header {
    text-align: center;
    background-color: #ffffff;
}
h1 {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    color: #84d4c1;
}
p {
    padding: 10px;
}
button {
    background-color: white;
}
#big {
    font-size: 50px;
}
#small {
    font-size: 20px;
}
nav {
    background-color: #888888;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}