* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000000;
    color: #507ae0;
    font-family: vcr-osd-mono, baybayin;
    font-size: 22px;
}
@font-face {
  font-family: vcr-osd-mono;
  src: url(vcr-osd-mono.ttf);
}
@font-face {
  font-family: baybayin;
  src: url(notosanstagalog.ttf);
}
header {
    text-align: center;
    background-color: #ffffff;
}
main {
    margin-left: 100px;
    margin-right: 100px;
}
h1, h2 {
    padding: 10px;
}
h1 {
    font-size: 50px;
}
a {
    color: #84d4c1;
}
p {
    padding: 10px;
}
#big {
    font-size: 50px;
}
#small {
    font-size: 20px;
}
nav {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}
#internal {
    background-color: #888888;
}
#external {
    background-color: #444444;
}
table {
    padding: 10px;
    background-color: #ffffff;
    margin: auto;
}